mat-card {
  margin-top: 15px;
}
.fld {
  margin-top: 10px;
}
.green {
  background-color: #3db166;
  margin-top: 20px;
  float: right;
  text-align: center;
  margin-right: 5px;
}

div {
  display: inline-block;
  margin-right: 50px;
}
