<app-header></app-header>
<body><h1>Hello, Admin</h1>
<div class="card">
  <mat-card
    ><h4>
      Hello, Welcome to the MUST Ink system, Here you can adjust a lot of
      different items related to printing.
    </h4></mat-card
  >
</div>
<div class="navs">
  <mat-card class="nav"
    ><h1 class="nav">Navigation</h1>
    <div class="btn">
      <button
        mat-raised-button
        color="primary"
        class="green"
        routerLink="/admin/admin/stock"
      >
        Stocks
      </button>
      <button
        mat-raised-button
        color="primary"
        class="green-itm"
        routerLink="/admin/admin/Items"
      >
        Items
      </button>
      <button
        mat-raised-button
        color="primary"
        class="green"
        routerLink="/admin/admin/ItemsStocks"
      >
        Items stocks
      </button>
    </div>
    <div class="btn">
      <button
        mat-raised-button
        color="primary"
        class="green"
        routerLink="/admin/admin/Orders"
      >
        Orders
      </button>
      <button
      mat-raised-button
      color="primary"
      class="green"
      routerLink="/admin/admin/Types"
    >
      Types
    </button>
      
     
    </div>
  </mat-card>
</div>
</body>
<app-footer></app-footer>                                                                                         
