.red{
    background-color: red;
    margin-top: 30px;
    margin-left: 10px;

}
.green{
    background-color: green;
    margin-right: 20px;
    margin-top: 30px;
    margin-left: 2.5px;

}
mat-card{
    margin-bottom: 40px;
    height: 150px;
    margin-top: 20px;
}
.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1b2945;
    color: white;
    text-align: center;
    font-family: "Cairo", sans-serif;
  }
  .lgot{
    float: right; 
  };
  